@{
    ViewBag.Title = "Home Page";
}

<div class="colored-bkg-home"></div>
<div class="container">
    <div class="row">

        <div class="col-sm-6 col-sm-offset-3 logo">
        </div>

    </div>
</div>

<div class="container">
    <div class="row ">

        <div class="col-sm-12">

                <input type="text" id="userName" class="registerfield" name="userName" value="User Name" onblur="if(this.value==''){ this.value='User Name'; }" onfocus="if(this.value=='User Name'){ this.value='';}" />


                <input type="text" id="userPassword" class="registerfield" name="userPassword" value="Password" onblur="if(this.value==''){ this.value='Password'; this.type='text'}" onfocus="if(this.value=='Password'){ this.value=''; this.type='password'}" />

                <button class="registerfield login-btn" type="submit">@Html.ActionLink("Log in", "Login", "Account")</button>


        </div>

    </div>
</div>


<div class="signup-btn"><h11>@Html.ActionLink("Sign up", "Register", "Account")</h11></div>

<div class="myPlan">
    <ol>
        <li>Create veiws</li>
        <li>Create Tables/Database</li>
        <li>Create Forms</li>
        <li>Add css/javascript powered animation</li>
    </ol>
</div>